## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in /opt/anaconda3/lib/python3.8/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /opt/anaconda3/lib/python3.8/site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [32]:
import pandas as pd

In [4]:
%sql ibm_db_sa://fdc12884:sW2V35Z5b5aNtple@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [5]:
!pip install sqlserver

Requirement already satisfied: sqlserver in /opt/anaconda3/lib/python3.8/site-packages (0.0.11)
Requirement already satisfied: pyodbc in /opt/anaconda3/lib/python3.8/site-packages (from sqlserver) (4.0.0-unsupported)

In [6]:
import sqlserver as ss

In [7]:
%sql ibm_db_sa://fdc12884:sW2V35Z5b5aNtple@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

In [8]:
import pyodbc
import pandas as pd 
import numpy as np

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [9]:
unique_launch_sites= %sql SELECT DISTINCT Launch_Site from SPACEXDATASET
unique_launch_sites

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

# Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%sql SELECT * from SPACEXDATASET WHERE launch_site LIKE 'CCA%'LIMIT 5

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
tpm = %sql SELECT SUM(PAYLOAD_MASS__KG_) TotalPayloadMass from SPACEXDATASET WHERE Customer  = 'NASA (CRS)'
tpm= pd.DataFrame(tpm)
tpm.columns=['Total Payload Mass']
tpm

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

   Total Payload Mass
0               45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [12]:
apm = %sql SELECT AVG(PAYLOAD_MASS__KG_) AveragePayloadMass from SPACEXDATASET WHERE Booster_Version = 'F9 v1.1'
apm=pd.DataFrame(apm)
apm.columns=['average payload mass']
apm

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

   average payload mass
0                  2928

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [13]:
date_of_successful_landing = %sql SELECT MIN(Date)  from SPACEXDATASET WHERE landing__outcome='Success (drone ship)'
date_of_successful_landing=pd.DataFrame(date_of_successful_landing)
date_of_successful_landing.columns=['Date which first Successful landing outcome in drone ship was acheived.']
date_of_successful_landing

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

  Date which first Successful landing outcome in drone ship was acheived.
0                                         2016-04-08

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
boosters_of_successful_landing= %sql SELECT booster_version  from SPACEXDATASET WHERE landing__outcome='Success (ground pad)' AND payload_mass__kg_ > 4000 AND payload_mass__kg_ < 6000
boosters_of_successful_landing=pd.DataFrame(boosters_of_successful_landing)
boosters_of_successful_landing.columns=['Date which first Successful landing outcome in drone ship was acheived.']
boosters_of_successful_landing

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

  Date which first Successful landing outcome in drone ship was acheived.
0                                      F9 FT B1032.1
1                                      F9 B4 B1040.1
2                                      F9 B4 B1043.1

### Task 7

##### List the total number of successful and failure mission outcomes

In [15]:
tot_of_suc_landing= %sql SELECT Count(mission_outcome)  from SPACEXDATASET where mission_outcome LIKE '%Success%'
tot_of_suc_landing=pd.DataFrame(tot_of_suc_landing)
tot_of_suc_landing.columns=['Successful_Mission_Outcomes']
tot_of_suc_landing

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

   Successful_Mission_Outcomes
0                          100

In [16]:
tot_of_fail_landing=%sql SELECT Count(mission_outcome)  from SPACEXDATASET where mission_outcome LIKE '%Failure%'
tot_of_fail_landing=pd.DataFrame(tot_of_fail_landing)
tot_of_fail_landing.columns=['Failure_Mission_Outcomes']
tot_of_fail_landing

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

   Failure_Mission_Outcomes
0                         1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [17]:
booster_mpl=%sql SELECT DISTINCT booster_version,payload_mass__kg_ from SPACEXDATASET  ORDER BY payload_mass__kg_ DESC
booster_mpl=pd.DataFrame(booster_mpl)
booster_mpl.rename(columns={0: "booster_version", 1: "Maximum Payload Mas"})

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

    booster_version  Maximum Payload Mas
0     F9 B5 B1048.4                15600
1     F9 B5 B1048.5                15600
2     F9 B5 B1049.4                15600
3     F9 B5 B1049.5                15600
4     F9 B5 B1049.7                15600
..              ...                  ...
96   F9 v1.1  B1003                  500
97    F9 FT B1038.1                  475
98    F9 B4 B1045.1                  362
99   F9 v1.0  B0003                    0
100  F9 v1.0  B0004                    0

[101 rows x 2 columns]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [37]:
failed_lading_outcomes= %sql SELECT DateName( month , DateAdd( month , MONTH(CONVERT(date,DATE,105)),0)-1)  as Month, booster_version, launch_site, landing__outcome FROM SPACEXDATASET WHERE (landing__outcome LIKE '%Success%') AND (YEAR(CONVERT(date,DATE, 105)) ='2015')
failed_lading_outcomes=pd.DataFrame(failed_lading_outcomes)
failed_lading_outcomes

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0440N  No authorized routine named "CONVERT" of type "FUNCTION" having compatible arguments was found.  SQLSTATE=42884 SQLCODE=-440
[SQL: SELECT DateName( month , DateAdd( month , MONTH(CONVERT(date,DATE,105)),0)-1) as Month, booster_version, launch_site, landing__outcome FROM SPACEXDATASET WHERE (landing__outcome LIKE '%Success%' ) AND (YEAR(CONVERT(date,DATE, 105)) ='2015')]
(Background on this error at: http://sqlalche.me/e/f405)

Empty DataFrame
Columns: []
Index: []

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [19]:
rank_count= %sql SELECT Count(landing__outcome) AS sl FROM SPACEXDATASET WHERE (landing__outcome LIKE '%Success%') AND (DATE >'2010-06-04') AND (DATE < '2017-03-20')
rank_count=pd.DataFrame(rank_count)
rank_count.columns = ['Successful Landing Outcomes Between 2010-06-04 and 2017-03-20']
rank_count

 * ibm_db_sa://fdc12884:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

   Successful Landing Outcomes Between 2010-06-04 and 2017-03-20
0                                                  8

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>